<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles2.css">
    <title>About Us</title>
</head>

<body>
    <div id="header">

    </div>
    <nav>
        <a href="../index.html"><img src="../img/VisitTampa.png" id="logo"></a>
    </nav>
    </div>
    <div class="navigation">
        <nav>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="./places.html">PLACES</a></li>
                <li><a href="./FactsaboutTampa.html">FACTS</a></li>
                <li><a href="./Best.html">BEST</a></li>
                <li><a href="./AboutUs.html">ABOUT US</a></li>
            </ul>
        </nav>

    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="head1">
        <h2>ABOUT US</h2>
    </div>
    <section>


        <div class="person">
            <div><img src="../img/y.jpeg" width="350px" height="350px" class="image" /></div>
            <div class="para">
                <h2>Yogesh</h2>
                <P>
                    An aspiring graduate in business analytics and information systems at USF. With over three years of
                    experience as a full-stack .NET developer, he was able to provide valuable guidance on HTML and CSS
                    concepts in this project. He also provided support to the team when they faced programming
                    challenges and issues. He played a crucial role in creating the Home and About Us pages for the
                    website and was responsible for developing the style sheets for all the pages.</P>
                <div>
                    <a href="https://www.linkedin.com/in/yogesh-savirigana"><button
                            class="contact">LinkedIn</button></a>
                </div>
            </div>

        </div>
        <div class="person">
            <div><img src="../img/p.jpg" width="350px" height="350px" class="image" /></div>
            <div class="para">
                <h2>Pushvanth</h2>
                <P> Aspiring graduate student with interest in full stack developement and data analytics. He is
                    currently pursuing Master's in Business analytics and information systems at University of South
                    Florida MUMA College of Business, having a previous experience of more than 10 years in industrial
                    management sector. He has worked on the content and HTML part of the "Places" page of our team's
                    website VISIT TAMPA and a small part of CSS related to the page.
                </P>
                <div>
                    <a href="https://www.linkedin.com/in/pushvanth/"><button class="contact">LinkedIn</button></a>
                </div>
            </div>
        </div>
        <div class="person">
            <div><img src="../img/Hanisha.jpg" width="350px" height="350px" class="image" /></div>
            <div class="para">
                <h2>Hanisha</h2>
                <P> Aspiring graduate student with interest in Machine Learning and Artificial Intelligence in Business
                    Analytics Domain. She had completed bachelor and currently pursuing Masters in Business analytics
                    and information systems at the University of South Florida MUMA College of Business. She had worked
                    on the content and HTML part of the "Facts about Tampa" page of our team's website. she had also
                    worked on the content for Site Content of the About US page.</P>
                <div>
                    <a href="https://www.linkedin.com/in/hanisha--401093199/"><button
                            class="contact">LinkedIn</button></a>
                </div>
            </div>
        </div>
        <div class="person">
            <div><img src="../img/v.jpg" width="350px" height="350px" class="image" /></div>
            <div class="para">
                <h2>Vaishnav</h2>
                <P>
                    Sri Vaishnav Vedanaparthi is an aspiring graduate student with interest in data scientist and data
                    analytics. He is currently pursuing Master's in Business analytics and information systems at
                    University of South Florida MUMA College of Business, having a previous experience of more than four
                    years as a software engineer in an information Technology Industry. He had worked on the content and
                    HTML part of the "BEST" page of our team's website VISIT TAMPA.</P>
                <div>
                    <a href="https://www.linkedin.com/in/sri-vaishnav-vedanaparthi-46286a249/"><button
                            class="contact">LinkedIn</button></a></a>
                </div>
            </div>
        </div>


    </section>

    <div class="site">
        <h1>SITE CONTENT</h1>

    </div>
    <div class="content">
        <p>
            This website is useful for both residents and first-time visitors who want to explore around the city of
            Tampa. The platform will be used extensively to get information about the city. It includes information
            regarding various sights, attractions, restaurants, and activities so that visitors or residents can plan
            their trip accordingly and decide on the various recommended activities and places to go. Many decide to
            visit Busch Gardens, for example, as it offers thrilling rides and world-class entertainment with exciting
            live shows for people of all ages.
            <br>
            <br>
            It also offers a user-friendly experience with an interactive map and photos of various places, restaurants,
            hotels, attractions, and activities in Tampa. This would allow visitors to familiarize themselves with the
            activities available and plan their itinerary. In addition, it would allow residents to plan the activities
            they want to do for an enjoyable experience.
            <br>
            <br>
            It will also allow visitors or residents to check ticket prices, hotel rates, restaurant costs and
            everything else that would need to know in order to plan their trip. Thus, this website would also be
            valuable for those that are on a budget. For example, visitors can visit this website and book the hotel
            they would like to stay in at an affordable price while also deciding what activities and attractions they
            can do that are within their budget. They can also browse through various affordable restaurants, look
            through several menu options and book their seating reservations in advance. By providing visitors and
            residents information on things to do, see, and eat at Tampa, this website can help them make the most of
            their trip by avoiding expensive tourist traps and thereby, saving money.
            <br>
            <br>
            The website also provides interesting information regarding Tampa itself, including the history and some
            unique facts. Both visitors and residents can look at that page to get to know more about their city and
            stay informed. In addition, it would allow people to make informed choices. If people know what to expect,
            they can be better prepared for any potential surprises in order to minimize any problems. For example,
            Tampa is generally a city known for its warmth, especially being part of the Sunshine state, hence residents
            and visitors may decide on bringing sunscreen, sunglasses and any other essential items.
            <br>
            <br>
            It also provides knowledge regarding the culture. For example, Tampa has become an ethnic mix of various
            cultures, due to the history dating back to the days of the Spanish exploration. Visitors and residents can
            spend time researching the various unique festivals and activities in order to learn about the culture. For
            example, the famous Gasparilla Pirate Festival is an example of a cultural experience to commemorate a
            friendly invasion by the mythical pirate Jose Gaspar. People can also research various Hispanic and Cuban
            restaurants on this website to try their authentic foods and dishes. Understanding these cultures would
            allow people to connect with the locals and thus have a much more enlightening experience




        </p>
    </div>
</body>

</html>