<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/Styles3.css">
	<title>BEST PLACES IN TAMPA</title>
</head>

<body>
	<div id="header">

	</div>
	<nav>
		<a href="../index.html"><img src="../img/VisitTampa.png" id="logo"></a>
	</nav>
	</div>
	<div class="navigation">
		<nav>
			<ul>
				<li><a href="../index.html">HOME</a></li>
				<li><a href="./places.html">PLACES</a></li>
				<li><a href="./FactsaboutTampa.html">FACTS</a></li>
				<li><a href="./Best.html">BEST</a></li>
				<li><a href="./AboutUs.html">ABOUT US</a></li>
			</ul>
		</nav>

	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="heading">
		<h2>HOTELS</h2>
	</div>
	<section>
		<div class="box">
			<div><img src="../img/hyatt.jpg" width="294px" height="290px" /></div>
			<h3>Grand Hyatt</h3>
			<p>Located on the waterfront, this upscale hotel features stunning views and elegant rooms. Amenities
				include fitness center, and outdoor pool.</p>
			<button class="planner">BOOK NOW</button>
		</div>
		<div class="box">
			<div><img src="../img/hilton.jpg" width="294px" height="290px" /></div>
			<h3>Embassy Suites by Hilton</h3>
			<p>This all-suite hotel is conveniently located near the convention center and offers spacious rooms,
				complimentary breakfast, and a fitness center.</p>
			<button class="planner">BOOK NOW</button>
		</div>
		<div class="box">
			<div><img src="../img/westin.jpg" width="294px" height="290px" /></div>
			<h3>The Westin</h3>
			<p>Located on the bay, this modern hotel offers stylish rooms with water views, a rooftop pool, fitness
				center,
				and multiple dining options.</p>
			<button class="planner">BOOK NOW</button>
		</div>
	</section>
	<div class="heading">
		<h2>SPORT TEAMS</h2>
	</div>
	<section>
		<div class="box">
			<div><img src="../img/go bucks.png" width="294px" height="290px" /></div>
			<h3>Tampa Bay Buccaneers (NFL)</h3>
			<p>The Buccaneers are a professional football team based in Tampa Bay. They have won multiple championships
				and
				are known for their passionate fans.</p>
			<a href="https://www.buccaneers.com/"><button class="planner">VISIT</button></a>
		</div>
		<div class="box">
			<div><img src="../img/lightning.png" width="294px" height="290px" /></div>
			<h3>Tampa Bay Lightning (NHL)</h3>
			<p>The Lightning are a professional hockey team based in Tampa Bay. They have won multiple championships and
				play in the state-of-the-art Amalie Arena.</p>
			<a
				href="https://www.nhl.com/lightning/tickets/single-game-tickets?gclid=EAIaIQobChMIwJP1gKjk_QIVWPfjBx1N8QmFEAAYASAAEgKaPvD_BwE&gclsrc=aw.ds"><button
					class="planner">VISIT</button></a>
		</div>
		<div class="box">
			<div><img src="../img/rays.png" width="294px" height="290px" /></div>
			<h3>Tampa Bay Rays (MLB)</h3>
			<p>The Rays are a professional baseball team based in St. Petersburg, just across the bay from Tampa. They
				have
				made several playoff appearances and play in Tropicana Field.</p>
			<a href="https://www.mlb.com/rays"><button class="planner">VISIT</button></a>
		</div>
	</section>
	<div class="heading">
		<h2>UNIVERSITIES</h2>
	</div>
	<section>
		<div class="box">
			<div><img src="../img/USF.jpg" width="294px" height="290px" /></div>
			<h3>University of South Florida</h3>
			<p>USF is a public research university with multiple campuses in Tampa Bay area and known forthe programs in
				business, engineering, and medicine.</p>
			<a href="https://www.usf.edu/"><button class="planner">VISIT</button></a>
		</div>
		<div class="box">
			<div><img src="../img/HCC.jpg" width="294px" height="290px" /></div>
			<h3>Hillsborough Community College</h3>
			<p>HCC is a community college with several campuses in the Tampa Bay area. It offers a wide range of
				programs
				and is a popular choice for local students.</p>
			<a href="https://www.hccfl.edu/"><button class="planner">VISIT</button></a>
		</div>
		<div class="box">
			<div><img src="../img/UT.jpg" width="294px" height="290px" /></div>
			<h3>University of Tampa</h3>
			<p>UT is a private university located in the heart of downtown Tampa. It is known for its strong programs in
				business, communication, and the arts.</p>
			<a href="https://www.ut.edu/"><button class="planner">VISIT</button></a>
		</div>
	</section>
	<div class="heading">
		<h2>RESTAURANTS</h2>
	</div>
	<section>
		<div class="box">
			<div><img src="../img/cr.jpg" width="294px" height="290px" /></div>
			<h3>Columbia Restaurant</h3>
			<p>the Columbia restaurant is a Spanish family-owned that has been a Tampa for over 100 years.</p>
			<button class="planner">RESERVE</button>
		</div>
		<div class="box">
			<div><img src="../img/BSH.jpg" width="294px" height="290px" /></div>
			<h3>Bern's Steak </h3>
			<p>Opened in 1956, this destination features dry-aged steaks, a huge wine list & flocked wallpaper.</p>
			<button class="planner">RESERVE</button>
		</div>
		<div class="box">
			<div><img src="../img/oe.jpg" width="294px" height="290px" /></div>
			<h3>Oxford Exchange</h3>
			<p>European-inspired space featuring a restaurant, bookstore, coffeehouse & shop with decor & gifts.</p>
			<button class="planner">RESERVE</button>
		</div>
	</section>
</body>