<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles1.css">
    <title>FACTS TAMPA</title>
</head>

<body>
    <div id="header">

    </div>
    <nav>
        <a href="../index.html"><img src="../img/VisitTampa.png" id="logo"></a>
    </nav>
    </div>
    <div class="navigation">
        <nav>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="./places.html">PLACES</a></li>
                <li><a href="./FactsaboutTampa.html">FACTS</a></li>
                <li><a href="./Best.html">BEST</a></li>
                <li><a href="./AboutUs.html">ABOUT US</a></li>
            </ul>
        </nav>

    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="head1">
        <h2>
            FACTS ABOUT TAMPA
        </h2>
    </div>
    <div class="desc">
        <p> Tampa might seem ordinary at first glance, but there are some interesting facts that you may not know. The
            Tampa Bay shines as a premier vacation spot with an enourmous variety of attractions and perks for everyone
            to enjoy. Here are ten interesting facts about Tampa: </p>
    </div>
    <div class="container">
        <h2>
            Tampa has the longest continuous sidewalk!
        </h2>
        <div class="left-text">
            <p>
                Bayshore Boulevard is a waterfront road on Hillsborough Bay in South Tampa, Florida. Located south of
                downtown Tampa, its sidewalk, at 4.5 miles (7.2 km) long, is 10 feet (3.0 m) wide and is the longest
                continuous sidewalks in the United States. The 3-mile (4.8 km) bike lane, a linear park, and the
                Bayshore Greenway Trail provide scenic views of urban Tampa and the water. The sidewalk's conveniences
                include benches, a water fountain, bicycle parking, a city marina, and workout stations.
                <br>
                <br>
                According to the Guinness Book of World Records, the longest continous pedestrian walkway is found in
                Tampa,stretching up to 4.5 miles. This gorgeous path, often used by cyclists, joggers and walkers,
                follows the seawall from Columbus Statue Park to Gandy Boulevard. There are eautiful views of the Tampa
                skyline and lovely historic mansions. Dolphin and Manatee sightings are also quite common!
            </p>
        </div>
        <div class="right-image">
            <img src="../img/longestsidewalk.jpg" width="480" height="280" class="image">
        </div>
    </div>
    <div class="container">
        <h2>
            Tampa Hosts a Pirate Invasion!
        </h2>
        <div class="left-text">
            <p>
                The Gasparilla Pirate Festival is a large parade and a host of related community events held in Tampa,
                Florida almost every year since 1904. The centerpiece of the festivities is the Parade of Pirates (often
                referred to as the Gasparilla Parade), which is a friendly invasion by the mythical pirate Jose Gaspar
                (also known as Gasparilla), who is a popular figure in Florida folklore despite the fact that he did not
                exist.
                <br>
                <br>
                Often referred to as the Gasparilla Parade, this festivity is a large parade and community events that's
                held every year in Tampa. It's an annual re-enactment of Tampa's historic pirate invasion, led by Jose
                Gasparilla. The invadors hustle the Mayor for the key to the city and kicks off two months of parties,
                parades and festivals that make up the Gasparilla Season.
            </p>
        </div>
        <div class="right-image">
            <img src="../img/InvasionPirates.jpg" width="480" height="280" class="image">
        </div>
    </div>
    <div class="container">
        <h2>
            Tampa is home to the Oldest Restaurant in Florida!
        </h2>
        <div class="left-text">
            <p>
                The Columbia is Florida's oldest restaurant and is the largest Spanish restaurant in the world. It's
                capable of seating approximately 1700 people with 15 dining rooms, totaling to 52000 square feet.
                Columbia Restaurant serves Spanish-Cuban cuisine to the state of Florida, using family recipes and
                tradition. The restaurant also has one of the largest Spanish wine collections in the world.
                <br>
                <br>
                Columbia Restaurant is a restaurant in Ybor City, Tampa, Florida. It is the oldest continuously operated
                restaurant in Florida, as well as the oldest Spanish restaurant in the United States and the largest
                Spanish restaurant in the world.It has 15 dining rooms containing 1,700 seats, totaling 52,000 square
                feet. Founded in 1903 as Saloon Columbia, it was renamed in 1905 to Columbia Restaurant. The landmark
                has been owned by the Hernandez-Gonzmart family for five generations and serves Spanish and Cuban
                cuisine.
            </p>
        </div>
        <div class="right-image">
            <img src="../img/TheColumbia.jpg" width="480" height="280" class="image">
        </div>
    </div>
    <div class="container">
        <h2>
            Cuba Without a Passport !
        </h2>
        <div class="left-text">
            <p>
                Jose Marti Park, located in Tampa Bay's Latin Quarter, Ybor City, is dedicated to the memory of the poet
                and journalist who led the island's revolution against Spanish rule in the 1880s and 1890s. The park at
                the corner of 8th Avenue and 13th Street is owned by the people of Cuba. Visitors during the day will
                find a statue of Marti along with marked plots of earth from different parts of the island where
                landscaping grows.
                <br>
                <br>
                Visitors to Tampa Bay can make a side trip to Cuba without needing their passports. Tampa Bay's historic
                Latin Quarter, Ybor City, is home to a genuine piece of Cuban territory - Jose Marti Park, dedicated to
                the memory of the poet, journalist, and firebrand who led the island's revolution against Spanish rule
                in the 1880s and 1890s. The park at the corner of 8th Avenue and 13th Street is owned by the people of
                Cuba.
            </p>
        </div>
        <div class="right-image">
            <img src="../img/josemartipark.jpg" width="480" height="280" class="image">
        </div>
    </div>
    <div class="container">
        <h2>
            Tampa is Home to Florida's Largest Port!
        </h2>
        <div class="left-text">
            <p>
                Port Tampa Bay is Florida's biggest and most diverse seaport supporting shipping activities such as
                shipbuilding and repairs. It records the largest cargo tonnage volume in Florida. It is considered to be
                one of the top cruises in the United States with 4 cruise lines among Carnival Cruise Lines, Hollan
                America, Royal Caribbean International and Norwegian Cruise Line.
                <br>
                <br>
                Port Tampa Bay, known as the Port of Tampa until January 2014, is the largest port in the state of
                Florida and is overseen by the Tampa Port Authority, a Hillsborough County agency. The port is located
                in Tampa, Florida near downtown Tampa's Channel District. The port directly accesses Tampa Bay on the
                western coast of the Florida Suncoast, and is approximately 25 sea miles from the Gulf of Mexico. The
                port district includes parts of Tampa Bay, Hillsborough Bay, McKay Bay, Old Tampa Bay and the
                Hillsborough River. The port serves container ships, tank ships, and cruise lines.
            </p>
        </div>
        <div class="right-image">
            <img src="../img/porttampabay.jpg" width="480" height="280" class="image">
        </div>
    </div>

</body>

</html>