<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles4.css">
    <title>places</title>
</head>

<body>
    <div id="header">

    </div>
    <nav>
        <a href="../index.html"><img src="../img/VisitTampa.png" id="logo"></a>
    </nav>
    </div>
    <div class="navigation">
        <nav>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="./places.html">PLACES</a></li>
                <li><a href="./FactsaboutTampa.html">FACTS</a></li>
                <li><a href="./Best.html">BEST</a></li>
                <li><a href="./AboutUs.html">ABOUT US</a></li>
            </ul>
        </nav>

    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="head1">
        <h2>MUST VISIT PLACES IN TAMPA</h2>
    </div>

    <div class="container">

        <div class="col1">
            <div class="text">
                <h2><b>Busch Gardens Tampa</b></h2>

                <p>Busch Gardens Tampa is a theme park located in Tampa, Florida, that offers a unique blend of
                    thrilling
                    roller coasters, exotic animal exhibits, and live entertainment. It is owned and operated by
                    SeaWorld
                    Parks & Entertainment and is known for its immersive themed areas, such as Africa and Jungala.
                </p>
                <button class="planner">PLAN HERE</button>
            </div>
        </div>
        <div class="image">
            <div class="col2">
                <img src="../img/bgt.jpg" alt="Busch Gardens Tampa" width="750px" height="300px">
            </div>
        </div>

    </div>

    <div class="container">

        <div class="image">
            <div class="col1"><img src="../img/tfa.jpg" alt="The Florida Acquarium" width="750px" height="300px"></div>
        </div>

        <div class="col2">
            <div class="text">
                <h2><b>The Florida Acquarium</b></h2>
                <p>A state-of-the-art aquarium with over 20,000 aquatic plants and animals.</p>
                <button class="planner">PLAN HERE</button>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="col1">
            <div class="text">
                <h2>Tampa Bay History Center</h2>

                <p>A museum that tells the story of Tampa Bay's rich history, from prehistoric times to the present
                    day.

                </p>
                <button class="planner">PLAN HERE</button>
            </div>
        </div>
        <div class="image">
            <div class="col2"><img src="../img/tbhc.jpg" alt="Tampa Bay History Center" width="750px" height="300px">
            </div>
        </div>
    </div>


    <div class="container">

        <div class="image">
            <div class="col1"><img src="../img/yc.jpg" alt="Ybor City" width="750px" height="300px"></div>
        </div>
        <div class="col2">
            <div class="text">
                <h2>Ybor city</h2>

                <p>A historic neighborhood known for its Latin flair, cigar-making heritage, and vibrant nightlife.

                </p>
                <button class="planner">PLAN HERE</button>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="col1">
            <div class="text">
                <h2>Tampa Riverwalk</h2>

                <p>A scenic pedestrian walkway that runs along the Hillsborough River, featuring parks, museums, and
                    restaurants.</p>
                <button class="planner">PLAN HERE</button>
            </div>
        </div>
        <div class="image">
            <div class="col2"><img src="../img/trw.jpg" alt="Tampa Riverwalk" width="750px" height="300px"></div>
        </div>

    </div>

    <div class="container">

        <div class="image">
            <div class="col1"><img src="../img/aa.jpg" alt="Amalie Arena" width="750px" height="300px"></div>
        </div>
        <div class="col2">
            <div class="text">
                <h2>Amalie Arena</h2>

                <p>A state-of-the-art sports and entertainment venue that hosts concerts, ice hockey games, and
                    other
                    events.</p>
                <button class="planner">PLAN HERE</button>
            </div>
        </div>

    </div>
    <div class="container">

        <div class="col1">
            <div class="text">
                <h2>The Straz Center for the Performing Arts</h2>

                <p>A world-class performing arts center that hosts Broadway shows, concerts, and other cultural
                    events.
                </p>
                <button class="planner">PLAN HERE</button>

            </div>
        </div>
        <div class="image">
            <div class="col2"><img src="../img/straz.jpg" alt="Straz Center" width="750px" height="300px"></div>
        </div>

    </div>

    <div class="container">

        <div class="image">
            <div class="col1"><img src="../img/chwp.jpg" alt="Curtis Hixon Waterfront Park" width="750px" height="300px">
            </div>
        </div>
        <div class="col2">
            <div class="text">
                <h2>Curtis Hixon Waterfront Park</h2>

                <p>A popular park located on the downtown riverfront, featuring a playground, splash pad, and an
                    outdoor
                    concert venue.</p>
                <button class="planner">PLAN HERE</button>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="col1">
            <div class="text">
                <h2>Lowry Park Zoo</h2>

                <p>A family-friendly zoo with over 1,300 animals, including elephants, giraffes, and tigers.</p>
                <button class="planner">PLAN HERE</button>
            </div>
        </div>
        <div class="image">
            <div class="col2"><img src="../img/lpz.jpg" alt="Lowry Park Zoo" width="750px" height="300px">
            </div>
        </div>

    </div>

    <div class="container">

        <div class="image">
            <div class="col1"><img src="../img/ipbs.jpg" alt="International Plaza and Bay Street" width="750px"
                    height="300px"></div>
        </div>

        <div class="col2">
            <div class="text">
                <h2>International Plaza and Bay Street</h2>

                <p>A high-end shopping and dining destination with over 200 stores and restaurants.</p>
                <button class="planner">PLAN HERE</button>

            </div>
        </div>

    </div>

</body>

</html>