body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color:  rgb(37, 37, 114);
}

#header {
    right: 0px;
    width: 100%;
    height: 70px;
    background: white;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 1;
    box-shadow: 2px 2px 5px gray;
  
  }
  
  #logo {
    right: 1150px;
    top: 1px;
    width: 50pt;
    cursor: pointer;
    position: fixed;
    z-index: 1;
  
  }
  .navigation {
    position: fixed;
    width: 100%;
    top: 10px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  nav ul {
    width: 90%;
    list-style: none;
    text-align: right;
    padding-right: 30px;
  }
  
  nav ul li{
    display: inline;
    margin: 10px 10px;
  }
  
  nav ul li a {
    font-weight: bolder;
    border: 2px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  nav ul li a:hover{
    color:  rgb(37, 37, 114);
  }
.head1{
    color: white;
    font-size: 20px;
    text-align: center;
}
.container {
    padding: 0px;
    
}

.container body {

    background-color: rgb(37, 37, 114);
    width: fit-content;
    display: flex;

}
.col1{
    border: 2px solid white;
    width: 49%;
    display: flex;
    margin: auto ;
    float: left;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    flex-wrap: wrap;
}
.col2{
    border: 2px solid white;
    width:49%;
    display: flex;
    margin: auto ;
    overflow: hidden;
    float: right;
    flex-wrap: wrap;
    height: 300px;
    margin-bottom: 20px;
}
.text h2{
    text-align: center;
    color: white;
    padding-top: 60px;
}
.text p{
    margin:10px ;
    text-align: justify;
    color: white;
}
.image{
    text-align: center;
    margin: 8px;
}
.planner{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  margin-left: 250px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}
.planner:hover {
  color: rgb(7, 66, 7);
}

@media screen and (max-width : 420px)  {
  #logo {
      width: 50pt;
      cursor: pointer;
      padding: 10px 0;
      position: fixed;
      left: 10px;
  }
  .navigation{
      width: 90%;
  }
  nav ul li a{
      font-size: 10px;
  }
  nav ul li{
      display: inline;
      margin: 5px 5px;
  }
  .text h2{
    text-align: right;
    font-size: 15px;
    color: white;
    display: flex;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}
.col1{
  width: 45%;
}
.col2{
  width: 45%;
}
.text p{
    display: none;
}
.planner{
  font-size: 10px;
}
  
}
@media screen and (max-width : 550px)  {
  #logo {
      width: 50pt;
      cursor: pointer;
      padding: 10px 0;
      position: fixed;
      left: 10px;
  }
}

@media screen and (max-width : 1050px)  {
  #logo {
      width: 50pt;
      cursor: pointer;
      padding: 10px 0;
      position: fixed;
      left: 10px;
  }

}
@media screen and (max-width : 1600px){
  #logo {
    width: 50pt;
    cursor: pointer;
    padding: 10px 0;
    position: fixed;
    left: 30px;
  }

}