* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.dashboard {
    width: 100px;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), hsl(233, 58%, 42%)), url(../img/TAMPA.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 50%;
    position: relative;
}

#header {
    right: 0px;
    width: 100%;
    height: 70px;
    background: white;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 1;
    box-shadow: 2px 2px 5px gray;

}

#logo {
    right: 1150px;
    top: 1px;
    width: 50pt;
    cursor: pointer;
    position: fixed;
    z-index: 1;

}

.textbox h1 {
    position: relative;
    font-size: 180px;
    color: white;
    font-weight: 600;
    right: 280px;
    padding: 100px 0;
    transition: 0.5s;
    cursor: pointer;


}

.textbox h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;

}

.textbox a {
    text-decoration: none;
    display: inline-block;
    color: white;
    right: 100px;
    font-size: 24px;
    border: 2px solid white;
    padding: 14px 50px;
    z-index: 1;
    position: relative;
    transition: color 0.5s;


}

#section1 html {
    scroll-behavior: auto;
}

.textbox a span {
    width: 0;
    height: 100%;
    position: absolute;

    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
}

.textbox a:hover span {
    width: 100%;
}

.textbox a:hover {
    color: black;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 25px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    width: 100%;
    list-style: none;
    text-align: right;
    padding-right: 10px;
}

nav ul li{
    display: inline;
    margin: 10px 10px;
}

nav ul li a {
    font-weight: bolder;
    border: 2px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav ul li a:hover{
    color:  rgb(37, 37, 114);
}

.video{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.container {
    padding: 0px;
}

.container body {

    background-color: rgb(37, 37, 114);
    width: fit-content;
    display: flex;

}

.container h1 {
    background-color: rgb(37, 37, 114);
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.left-text p {
    display: flex;
    margin: auto ;
    background-color: rgb(37, 37, 114);
    width: 60%;
    height: 100%;
    float: left;
    font-size: 20px;
    padding: 40px;
    color: white;
    font-style: italic;
    text-align: justify;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}

.right-map {
    display: flex;
    background-color: rgb(37, 37, 114);
    width: 40%;
    height: 100%;
    overflow: hidden;
    float: right;
    flex-wrap: wrap;
}
.map{
    top: 10px;
    margin: auto;
    padding: 5px;
    text-align: center;
    width: 90%;
    height: 90%;
}


 @media screen and (max-width : 280px) {
    #logo {
        width: 30pt;
        cursor: pointer;
        padding: 10px 0;
        position: fixed;
        left: 5px;
        
    }
    .navigation{
        width: 100%;
    }
    nav ul li a{
        font-size: 8px;
    }
    nav ul li{
        display: inline;
        margin: 5px 5px;
    }
    .textbox h1 {
        font-size: 70px;
        left: -120px;
    }

    .textbox a {
        font-size: 20px;
        right: 80px;
    }

    .left-text p {
        font-size: 10px;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        flex: 200px;
        height: 300px;

    }

    .right-map {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex: 200px;
    }

} 

@media screen and (max-width : 450px) {
    #logo {
        width: 50pt;
        cursor: pointer;
        padding: 10px 0;
        position: fixed;
        right: 300px;
    }
    .navigation{
        width: 100%;
    }
    nav ul li a{
        font-size: 10px;
    }
    nav ul li{
        display: inline;
        margin: 5px 5px;
    }
    .textbox h1 {
        font-size: 70px;
        left: -120px;
    }

    .textbox a {
        font-size: 20px;
        right: 80px;
    }

    .left-text p {
        font-size: 10px;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        flex: 200px;
        height: 300px;

    }

    .right-map {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex: 200px;
    }

} 
@media screen and (max-width : 770px) {
    #logo {
        width: 50pt;
        cursor: pointer;
        padding: 10px 0;
        position: fixed;
        left: 30px;
    }
    .textbox h1 {
        top: 150px;
        font-size: 120px;
        left: -105px;
    }

    .textbox a {
        top: 90px;
        font-size: 20px;
        right: 80px;
    }

    .left-text p {
        font-size: 10px;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        flex: 200px;
        height: 300px;

    }

    .right-map {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex: 200px;
    }

} 
@media screen and (max-width : 1050px) {
    #logo {
        width: 50pt;
        cursor: pointer;
        padding: 10px 0;
        position: fixed;
        left: 30px;
    }
    .textbox h1 {
        font-size: 70px;
        left: -120px;
    }

    .textbox a {
        font-size: 20px;
        right: 80px;
    }

    .left-text p {
        font-size: 10px;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        flex: 200px;
        height: 300px;

    }

    .right-map {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex: 200px;
    }

} 
@media screen and (max-width : 1600px){
    #logo {
        width: 50pt;
        cursor: pointer;
        padding: 10px 0;
        position: fixed;
        left: 30px;
    }

}

